services:
  db:
    image: timescale/timescaledb:latest-pg16
    container_name: timescale_db
    environment:
      POSTGRES_DB: timescale_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - timescale_data:/var/lib/postgresql/data

volumes:
  timescale_data:
